.box{
    width: 200px;
    height: 350px;
    background-color: black;
    margin: auto;
    margin-top: 40px;
}
.circle{
    width: 80px;
    height: 80px;
    border: 2px solid green;
    border-radius: 100%;
    margin: auto;
    margin-top: 30px;
}
.red{
    background-color: red;
}
.yellow{
    background-color: yellow;
}
.green{
    background-color: green;
}

